.i {
  position: relative;
  color: transparent;

  &::after {
    transition: transform 0.5s ease-in-out !important;
    content: "i";
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-white);
    z-index: 100;
  }

  &.active {
    &::after {
      transform: rotate(180deg) !important;
    }
  }
}
