.hero {
  height: 100vh;

  background: var(--gradient-purple);
  background-size: 500vw;
  background-position: 100% 100%;
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: min(17vw, 18rem);

  animation: gradient 10s ease infinite;
}

.break {
  @media (min-width: 350px) {
    display: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.k {
  position: relative;
}

.i {
  transition: transform 0.5s ease-in-out;
}

.iActive {
  transform: rotate(180deg) !important;
}

.b {
  color: transparent;
  position: relative;
}

.bImage {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0.175em;
}
