:root {
  --color-red: #e3170a;

  --color-purple: #5e239d;
  --color-purple-100: #f2eafa;
  --color-purple-200: #d8c0f1;
  --color-purple-300: #be97e8;
  --color-purple-400: #a46dde;
  --color-purple-500: #702abc;
  --color-purple-600: #572192;
  --color-purple-700: #3e1768;
  --color-purple-800: #250e3f;
  --color-purple-900: #0c0515;

  --color-white: #f2fdff;
  --color-black: #151514;

  --gradient-purple: linear-gradient(
    90deg,
    var(--color-purple-500) 0%,
    var(--color-purple-800) 100%
  );

  --font-monospace: "Roboto Mono", monospace;
}

html {
  font-size: 10px;
}
