html {
  font-family: 'Fira Code', monospace;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s;
  background-color: var(--background);
  color: var(--text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  scrollbar-width: none;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:root {
  --oxford-blue: #0b132b;
  --space-cadet: #1c2541;
  --rhythm: #777da7;
  --maximum-blue-green: #5bc0be;
  --turquoise-blue: #6fffe9;

  --primary: var(--rhythm);
  --secondary: var(--maximum-blue-green);
  --background: #f1f1f1;
  --text: var(--oxford-blue);
}

.dark-mode {
  --primary: var(--rhythm);
  --secondary: var(--maximum-blue-green);
  --background: var(--oxford-blue);
  --text: #f1f1f1;
}
