.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--secondary);

  font-size: 10rem;
  font-weight: 500;
  font-family: "Fira Mono", monospace;
  display: block;
}

@media screen and (max-width: 55rem) {
  .title {
    font-size: 18vw;
  }
  .link {
    font-size: 5vw;
  }
}
