.container {
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: translateX(0.2rem);
}

.link:hover {
  text-decoration: underline;
}

.link {
  color: var(--primary);
  text-decoration: none;
}

.icon {
  display: inline-block;
  min-width: 15%;
  margin-right: 3%;
}
