.linkContainer {
  font-size: 2rem;
  padding: 0 1rem;
  display: inline-block;
  width: 10rem;
  text-align: center;
}

.link {
  display: block;
  color: var(--secondary);
  text-decoration: none;
  transition: transform 0.3s linear;
}

.linkContainer:hover > .link {
  transform: translateY(-0.1rem);
}
/*
.linkContainer:first-child {
  text-align: end;
}

.linkContainer:last-child {
  text-align: start;
} */

.linkContainer + .linkContainer {
  border-left: 1px solid var(--secondary);
}

.linkActive {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .link {
    font-size: 4.5vw;
  }

  .linkContainer {
    max-width: 25vw;
    padding: 0.5rem;
    text-align: center;
  }
}
