@keyframes upAndDisappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50vh);
    opacity: 0;
  }
}

.lua {
  animation: upAndDisappear 2s ease-in-out;
  animation-fill-mode: forwards;
  width: 20rem;
  height: 20rem;
  position: absolute;
}